.chooseUs{
    margin-bottom: 131px;
    background-color: #f8faff;   

}


.chooseUs__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42p;
    text-align: center;
    margin-bottom: 100px;
    border-bottom: 1px solid black;
    line-height: 100px;
   

}

.chooseUs__cards {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 55px;

}
 
/* .chooseUs__card {
    grid-column: span 1; 
     margin-bottom: 112px;
     min-width: 150px;

} */

.chooseUs__img_wrapper {
    max-width: 150px;
    margin-bottom: 37px;

}

.chooseUs__img {
    max-width: 100%;
    /* max-height: 150px; */
 
}

.chooseUs__card_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.chooseUs__card_des {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

